body {
      background:#252525;
      font-family:Arial, sans-serif;
    }
    .passwordContainer {
      width:90%;
      padding:20px;
      height:370px;
      display:block;
      margin-right:auto;
      margin-left:auto;
      background:#EAF8E7;
      border:none;
      border-radius:10px;
      animation:slide 2s ease-in-out;
    }

@keyframes slide {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

    .passwordContainer .GeneratedPass {
      padding:10px;
      border:2px solid dimgrey;
      border-radius:7px;
      width:90%;
      margin:10px;
      outline:none;
      font-weight:bold;
    }
    .passwordContainer button {
      width:50%;
      display:block;
      margin-right:auto;
      margin-left:auto;
      border:none;
      border-radius:30px;
      padding:15px;
      background:green;
      color:white;
      text-align:center;
      font-weight:bold;
    }
    .passwordContainer #passPower, #passLength {
      padding:10px;
      border:2px solid dimgrey;
      border-radius:7px;
      width:90%;
      margin:10px;
      outline:none;
      font-weight:bold;
    }
    h2{
      color:green;
      text-align:center;
      font-size:1.5em;
    }
    .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.footer-text {
  margin-bottom: 5px;
}

.highlight {
  font-weight: bold;
  color: #007bff;
}

.footer a {
  color: #007bff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
